<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        h1 {
            text-align: center;
        }
        body {
            background-color:rgb(232, 253, 231);
        }
    </style>
</head>
<body>
    <h1>{{ title }}</h1>
    <main>
        <h4>{{ description }}</h4>
        <h3>🛍️ How to Use</h3>
        <ul>
            <li>Click the <em>"Start Tracking"</em> button below.</li>
            <li>Paste the <strong>Tokopedia product URL</strong> you want to track.</li>
            <li>Fill in your <strong>email</strong> (this is where the alert will be sent)</li>
            <li>Click <strong>POST</strong> button to start tracking.</li>
        </ul>

        <h3>💡 Tips</h3>
        <ul>
            <li>You can see the products you are tracking by opening this link:</li>
            <span><code>https://ecommerce-price-alert.up.railway.app/api/products/?email=youremail@example.com</code></span>
            <br>
            <span>*Replace <code>youremail@example.com</code> with your own email.</span>
            <li>To edit or delete a product, go to:</li>
            <span><code>https://ecommerce-price-alert.up.railway.app/api/products/12</code></span>
            <br>
            <span>*Replace <code>12</code> with your product ID.</span>
            <li>Use <strong>PUT</strong> to update it or <strong>DELETE</strong> to remove it.</li>
        </ul>

        <a href="{% url 'product-list-create' %}">
            <button>Start Tracking</button>
        </a>
    </main>
</body>
</html>
